@import "../../styles/vars.less";
.d4sdcard-wrapper {
  display: inline-block;
  .d4sdcard {
    box-sizing: border-box;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.45);
    border-radius: 12px;
  }
}
