@import '../../styles/vars.less';
@import '../../styles/index.less';
.d4sdbutton-wrapper{
  .d4sdbutton, .d4sdbutton-outline {

    border-color: @d4sd-color;
    border-width: 2px;
    border-radius: 10px;
    height:50px;
    width: 165px;
  }
  .d4sdbutton-outline {
    color: @d4sd-color;
    background-color: white;
    border-width: 2px;
  }
  .d4sdbutton {
    background-color: @d4sd-color;
    color:@white;
  }
  .d4sdbutton:hover {
    background-color:@d4sd-color-hover;
    border-color:@d4sd-color-hover;
  }

  .d4sdbutton:active {
    background-color:@d4sd-color-active;
    border-color:@d4sd-color-active;
  }
  .d4sdbutton-google {
    background-color: @google-color;
    border-color: @google-color;
    color: @white;
  }
  .d4sdbutton-google:hover {
    background-color: @google-color;
    border-color: @google-color;
    color: @white;
  }
  .d4sdbutton-google:active {
    background-color: @google-color;
    border-color: @google-color;
    color: @white;
  }
  .d4sdbutton-facebook {
    background-color: @facebook-color;
    border-color: @facebook-color;
    color: @white;
  }
  .d4sdbutton-facebook:hover {
    background-color: @facebook-color;
    border-color: @facebook-color;
    color: @white;
  }
  .d4sdbutton-facebook:active {
    background-color: @facebook-color;
    border-color: @facebook-color;
    color: @white;
  }
}
