@import "../../styles/vars.less";
.WorkspaceActionCardWrapper {
  border-radius: 10px;
  .panelCard {
    box-sizing: border-box;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.45);
    background: white;
    border-radius: 10px !important;
    .ant-collapse {
        border-radius: 10px!important;
    }
    .ant-collapse-header {
      font-size: 2.6rem;
      font-weight: 600;
      font-family: 'Montserrat', 'Open Sans', sans-serif;
      color: @d4sd-color !important;
      text-align: left;
      padding: 1.5rem!important;
    }
    .ant-collapse-arrow {
      left: calc(100% - 2.5rem) !important;
      top:calc(1.5rem + 16px) !important;
      font-size: 24px !important;
    }

  }
  .WorkspaceActionCard {
    width: 100%;
    font-size: 1rem;
    .card-short-desc {
      margin: 0px;
      color: @b3;
      font-weight: 300;
      font-size: 1rem;
    }
    .progressBar.warning .ant-progress-bg {
      background-color: @d4sd-secondary-color;
    }
    .progressBar.success .ant-progress-bg {
      background-color: @d4sd-success;
    }
    .card-title {
      font-size: 26px;
      font-family: 'Montserrat', 'Open Sans', sans-serif;
      margin-right: @margin-base * 4;
      color: @d4sd-color;
    }
    .card-status {

      text-align: right;
      .no-submit, .submitted {
        font-weight: bold;
        text-align: right;
        margin-bottom: 0px;
        color: @d4sd-secondary-color;
        font-family: 'Open Sans' sans-serif;
        display: inline;
        position: relative;
        right:0px;
        font-size: 14px;
      }
      .no-submit::before, .submitted::before {
        content: "";
        height: 12px;
        width: 12px;
        background-color: @d4sd-secondary-color;
        position: absolute;
        border-radius: 50%;
        top: 0px;
        left: -20px;
      }
      .submitted {
        color: @d4sd-success;
      }
      .submitted::before {
        background-color: @d4sd-success;
      }
    }
    .card-dates {
      font-weight: bold;
      color: @b3;
      font-size: 14px;
      .due-date.warning {
        color: @d4sd-secondary-color;
      }
      .due-date.success {
        color: @d4sd-success
      }
      .days-left {
        float: right;
      }
    }
    .progressBar {
      transform: rotate(180deg);
      margin-bottom: @margin-base / 2;
      margin-top: @margin-base / 2;
      .ant-progress-bg {
        height: 16px !important;
      }
      .ant-progress-text {
        display: none;
      }
      .ant-progress-outer {
        padding-right: 0px;
      }
    }
    .btn-wrapper {
      text-align: center;
      margin-top: @margin-base;
      button {
        margin: 0px;
      }
    }
    .ant-collapse {
      border-radius: 10px;
    }

  }
}
.panelCard.closed {
  filter: grayscale(1);
  background-color: @d4sd-color-disabled;
  box-shadow: none;
  border: none;
}
