
/** D4SD COMPONENTS **/
@d4sd-success: #6DC3D2;
@d4sd-color: #4497FF;
@d4sd-color-hover: #88BDFF;
@d4sd-color-active: #6BADFF;
@d4sd-color-outline-active: #EAF3FF;
@d4sd-secondary-color: #FF6D6D;
@d4sd-secondary-color-active: #FF8F8F;
@d4sd-secondary-color-outline-active: #FFEFEF;
@facebook-color: #4267B2;
@facebook-color-active: #638CDD;
@google-color: #DC4E41;
@google-color-active: #EF7166;
@white: white;

@d4sd-color-two: #25497A;
@d4sd-color-disabled: #EDEDED;

/** Screen break points **/
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;

/** Base 4 Margin System **/
@margin-spacer: 3rem;
@margin-base: 12px;
@margin-base-1: @margin-spacer*2;
@margin-base-2: @margin-base-1*2;
@margin-base-3: @margin-base-2*2;
@margin-base-4: @margin-base-3*2;

/* Headings */
@h1-color: #4497FF;
@h2-color: #4497FF;
@h3-color: #333333;
@h4-color: #25497A;
@b1: #333333;
@b2: #666666;
@b3: #999999;

/* Typography */
@font: 'Montserrat', sans-serif;
@body-font: 'Open Sans', sans-serif;

/* Headers */
@header-bg: #E4F2FF;

/** Navbar **/
@tab-height-active: 75px;
@tab-height: 60px;
@navbar-profile-width: 30px;
@navbar-font-size: 16px;
@navbar-boxshadow: 0 4px 10px rgba(0, 0, 0, 0.25);
@navbar-item-padding: 24px;
@d4sd-color-menu-hover: #66aaff;
@d4sd-color-menu-hover-scroll: #ddecff;
@subheading-color: #333333;
